PORT=3000
DB_HOST=mysql6.sqlpub.com
DB_PORT=3311
DB_NAME=wx_xcxkf
DB_USER=replace-with-db-user
DB_PASSWORD=replace-with-db-password
SESSION_TTL_DAYS=30
PHONE_DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
PHONE_DB_PORT=4000
PHONE_DB_NAME=phone_number
PHONE_DB_USER=replace-with-phone-db-user
PHONE_DB_PASSWORD=replace-with-phone-db-password
